<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="../Resources/css/style.css" type="text/css" rel="stylesheet" />
    <link href="../Resources/css/app.css" type="text/css" rel="stylesheet" />
    <!-- Favicon -->
    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <title>Listri - Directory & Listing HTML Template</title>
</head>
<body>
    <!-- Start Main Menu Area -->
    <div class="main-header-area header-sticky">
        <div class="container">
            <div class="getfund-nav-container breakpoint-off">
                <!-- getfund Menu -->
                <nav class="getfund-navbar justify-content-between" id="listingNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="images/logo-header.png" alt="logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="getfund-navbar-toggler"> <span class="navbarToggler"><span></span><span></span><span></span></span> </div>

                    <!-- Menu -->
                    <div class="getfund-menu">

                        <!-- close btn -->
                        <div class="getfundcloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="getfundnav">
                            <ul id="responsive">
                                <li>
                                    <a class="current sf-with-ul" href="#">Home</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                        <li><a href="index-3.html">Home 3</a></li>
                                        <li><a href="index-4.html">Home 4 - Map</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="sf-with-ul" href="#">Listings</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a class="sf-with-ul" href="#">List Layout</a>
                                            <ul class="dropdown">
                                                <li><a href="listings-list-with-sidebar.html">With Sidebar</a></li>
                                                <li><a href="listings-list-full-width.html">Full Width</a></li>
                                                <li><a href="listings-list-full-width-with-map.html">Full Width + Map</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="sf-with-ul" href="#">Grid Layout</a>
                                            <ul class="dropdown">
                                                <li><a href="listings-grid-with-sidebar-1.html">With Sidebar 1</a></li>
                                                <li><a href="listings-grid-full-width.html">Full Width</a></li>
                                                <li><a href="listings-grid-full-width-with-map.html">Full Width + Map</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="sf-with-ul" href="#">Half Screen Map</a>
                                            <ul class="dropdown">
                                                <li><a href="listings-half-screen-map-list.html">List Layout</a></li>
                                                <li><a href="listings-half-screen-map-grid-1.html">Grid Layout 1</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="sf-with-ul" href="#">Single Listings</a>
                                            <ul class="dropdown">
                                                <li><a href="listings-single-page.html">Single Listing 1</a></li>
                                                <li><a href="listings-single-page-2.html">Single Listing 2</a></li>
                                                <li><a href="listings-single-page-3.html">Single Listing 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="sf-with-ul" href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="pages-faq.html">FAQ</a></li>
                                        <li><a href="pages-testimonials.html">Testimonials</a></li>
                                        <li><a href="pages-blog.html">Blog</a></li>
                                        <li><a href="pages-blog-details.html">Blog details</a></li>
                                        <li><a href="pages-contact.html">Contact</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="sf-with-ul" href="#0">Extra</a>
                                    <ul class="dropdown">
                                        <li><a href="404.html">404 page</a></li>
                                        <li><a href="pricing-tables.html">Pricing tables</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="sf-with-ul" href="#0">Admin</a>
                                    <ul class="dropdown">

                                        <li><a href="add-listings.html">Add Listing</a></li>
                                        <li><a href="edit-listings.html">Edit Listing</a></li>
                                        <li><a href="booking-list.html">Booking List</a></li>

                                        <li><a href="listings.html">My Listings</a></li>
                                        <li><a href="profile.html">My Profile</a></li>
                                        <li><a href="oders.html">My Orders</a></li>
                                    </ul>
                                </li>
                                <li class="right-side">
                                    <ul>
                                        <li><a href="add-listings.html" class="btn btn-primary">Add Listing </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Main Menu Area -->

    <section class="breadcromb-top section_100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="text-white justify-content-center no-border mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Add listings</li>
                    </ol>
                    <div class="breadcromb-box">
                        <h3>Add listings</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clearfix bg-dark listingSection pt80 pb80 admin-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form action="" method="" class="listing__form">
                        <div class="dashboardBoxBg mb30">
                            <div class="profileIntro paraMargin">
                                <h3>上传您的需求或供应</h3>
                                <p>输入标题，选择您想要进行的业务（需求申请或供应申请），在文件提交区域提交您的描述（上传图片或文件或进行文字描述）</p>
                                <div class="row">
                                    <div class="form-group col-sm-6 col-xs-12">
                                        <label for="listingTitle">标题</label>
                                        <input type="text" class="form-control" id="listingTitle" placeholder="在此输入标题">
                                    </div>
                                    <div class="form-group col-sm-6 col-xs-12">
                                        <label for="listingCategory">业务分类（下拉选择您想进行的业务）</label>
                                        <div class="contactSelect">
                                            <select name="guiest_id9" id="guiest_id9" class="select-drop" sb="86069590">
                                                <option value="0">需求</option>
                                                <option value="1">供应</option>
                                         <!--   <option value="2">Bar</option>
                                                <option value="3">Cafe</option>    -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-xs-12">
                                        <label for="discribeTheListing">详细描述</label>
                                        <textarea class="form-control" rows="3" placeholder="在此添加描述（上传图片或文件或进行文字描述）"></textarea>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-footer text-center">
                            <button type="submit" class="btn-submit">确认无误后，提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="footer-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-12">
                        <div class="Footer-nav">
                            <h3>Our company</h3>
                            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci. </p>
                            <div class="paymentM"><img src="images/payment-method.png" alt=""></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-12">
                        <div class="Footer-nav">
                            <h3>Quick Link</h3>
                            <ul class="footer-link">
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> About us</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Faq </a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Help</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> My account</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Create account</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-12">
                        <div class="Footer-nav">
                            <h3>Support & Help </h3>
                            <ul class="footer-link">
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Blog</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Our Partners</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> How It Works</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Add Listing</a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Privacy Policy </a></li>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Advertise us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-xs-12">
                        <div class="Footer-nav newsletter">
                            <h3>Newsletter</h3>
                            <form action="s" method="POST" id="newsletterForm">
                                <input type="text" value="" name="s" placeholder="Enter your email...">
                                <button type="submit" value=""><span class="fas fa-paper-plane"></span></button>
                            </form>
                            <div class="follow">
                                <h3>Follow us</h3>
                                <ul>
                                    <li><a target="_Blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a target="_Blank" href="http://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                                    <li><a target="_Blank" href="http://www.google.com"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a target="_Blank" href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a target="_Blank" href="http://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer-menu -->
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <p class="copyright">2019 by TemplateHouse. All Rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../Resources/js/configjs/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="../Resources/js/configjs/popper.min.js" type="text/javascript"></script>
    <script src="../Resources/js/configjs/bootstrap.min.js" type="text/javascript"></script>
    <script src="../Resources/js/configjs/getfund-nav.min.js" type="text/javascript"></script>
    <script src="../Resources/js/configjs/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../Resources/js/configjs/waypoints.min.js" type="text/javascript"></script>
    <script src="../Resources/js/configjs/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="../Resources/js/configjs/swiper.min.js" type="text/javascript"></script>
    <script src="../Resources/js/configjs/custom.js" type="text/javascript"></script>
</body>
</html>